// Colors

$primaryColor: #673abb;
$lightPrimaryColor: #9e7cda;
$secondaryColor: #f2f2f2;
$textColor: #333;

// Media Queries

$nav-collapse: 58rem;
$tablet: 48rem;
$mobile-l: 26.5625rem;
$mobile-m: 23.4375rem;
$mobile-s: 20rem;
