// Colors

$primary-color: #673abb;
$light-primary-color: #9e7cda;
$secondary-color: #f2f2f2;
$text-color: #444;

// Fonts

$text-family:
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Fira Sans',
  'Droid Sans',
  'Helvetica Neue',
  sans-serif;

$text-size: .9rem;
$text-weight: 200;

// Media Queries

$nav-collapse: 58rem;
$tablet: 48rem;
$mobile-l: 26.5625rem;
$mobile-m: 23.4375rem;
$mobile-s: 20rem;
