@import '../../styles/variables.scss';

.root {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 60px;
  background: $primary-color;
  z-index: 1;
  box-shadow: 0 .1rem .5rem rgba(black, .3);
}

.link {
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  color: $secondary-color;
  display: block;
  text-decoration: none;
  transition: background-color .2s ease;
}

.linkActive {
  composes: link;
  background: $light-primary-color;
}

.link:hover {
  background: $light-primary-color;
}
